body {
  font-family: sans-serif;
  max-width: 1280px;
}

.navbar {
  max-width: 800px;
}

.navbar a {
  color: #f0f0f0;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: left;
}

th, td {
  padding: 5px;
}

